In [1]:
import pandas as pd
import numpy as np
BMS = pd.read_csv('train_V9rqX0R.csv')
BMS.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [2]:
BMS.shape

(8523, 12)

In [3]:
BMS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
BMS.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
BMS.groupby('Item_Type').mean()['Item_Weight']

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64

In [6]:
def fillw(w):
    if(pd.isnull(w['Item_Weight'])):
        w['Item_Weight'] = BMS.groupby('Item_Type').mean()['Item_Weight'][w['Item_Type']]
    else:
        w = w
    
    
    return w    
    
BMS = BMS.apply(fillw, axis = 1)

In [7]:
BMS['Item_Weight'].head(10)

0     9.30000
1     5.92000
2    17.50000
3    19.20000
4     8.93000
5    10.39500
6    13.65000
7    12.98788
8    16.20000
9    19.20000
Name: Item_Weight, dtype: float64

In [10]:
BMS.groupby('Item_Type').mean()['Item_Weight'][BMS['Item_Type']]
#First part is regular, for every Item_Type it calculates the mean value
#After adding the second part [BMS['Item_Type']] it calculates or shows(if already exists) the mean for the entire dataset available

Item_Type
Dairy                    13.426069
Soft Drinks              11.847460
Meat                     12.817344
Fruits and Vegetables    13.224769
Household                13.384736
                           ...
Snack Foods              12.987880
Baking Goods             12.277108
Health and Hygiene       13.142314
Snack Foods              12.987880
Soft Drinks              11.847460
Name: Item_Weight, Length: 8523, dtype: float64

In [11]:
def fills(s):
    if(pd.isnull(s['Outlet_Size'])):
        if(s['Outlet_Size'] == 'Supermarket Type1'):
            s['Outlet_Size'] = 'Small'
            
        elif(s['Outlet_Size'] == 'Supermarket Type2'):
            s['Outlet_Size'] = 'Medium'
            
        elif(s['Outlet_Size'] == 'Supermarket Type3'):
            s['Outlet_Size'] = 'Medium'
            
        else:
            s['Outlet_Size'] = 'Small'
            
    else:
        s = s
        
    return s    
            
BMS = BMS.apply(fills, axis = 1)

In [12]:
BMS['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [13]:
BMS.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [15]:
IW = BMS['Item_Weight'].values
IW = IW.reshape(-1, 1)
BMS['Item_Weight'] = scaler.fit_transform(IW)

In [16]:
IV = BMS['Item_Visibility'].values
IV = IV.reshape(-1, 1)
BMS['Item_Visibility'] = scaler.fit_transform(IV)

In [17]:
MRP = BMS['Item_MRP'].values
MRP = MRP.reshape(-1, 1)
BMS['Item_MRP'] = scaler.fit_transform(MRP)

In [18]:
OEY = BMS['Outlet_Establishment_Year'].values
OEY = OEY.reshape(-1, 1)
BMS['Outlet_Establishment_Year'] = scaler.fit_transform(OEY)

In [19]:
BMS['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [20]:
length = BMS['Item_Fat_Content'].size

In [21]:
def cleaning(x):
    if(x == 'low fat'):
        x = 'Low Fat'
    elif(x == 'LF'):
        x = 'Low Fat'
    elif(x == 'reg'):
        x = 'Regular'
    else:
        x = x
    return x

BMS['Item_Fat_Content'] = BMS['Item_Fat_Content'].apply(lambda x: cleaning(x))

In [22]:
def fat(x):
    if(x == 'Low Fat'):
        x = 1
    else:
        x = 0
        
    return x

BMS['Item_Fat_Content'] = BMS['Item_Fat_Content'].apply(lambda x: fat(x))

In [23]:
BMS['Item_Fat_Content'].head(10)

0    1
1    0
2    1
3    0
4    1
5    0
6    0
7    1
8    0
9    0
Name: Item_Fat_Content, dtype: int64

In [24]:
BMS['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [25]:
def food(x):
    if(x == 'Dairy'):
        x = 1
    elif(x == 'Soft Drinks'):
        x = 2
    elif(x == 'Meat'):
        x = 3
    elif(x == 'Household'):
        x = 4
    elif(x == 'Baking Goods'):
        x = 5
    elif(x == 'Snack Foods'):
        x = 6
    elif(x == 'Fruits and Vegetables'):
        x = 7
    elif(x == 'Breakfast'):
        x = 8
    elif(x == 'Health and Hygiene'):
        x = 9
    elif(x == 'Frozen Foods'):
        x = 10
    elif(x == 'Hard Drinks'):
        x = 11
    elif(x == 'Canned'):
        x = 12
    elif(x == 'Starchy Foods'):
        x = 13
    elif(x == 'Breads'):
        x = 14
    elif(x == 'Others'):
        x = 15
    elif(x == 'Seafood'):
        x = 16
    else:
        x = 17
        
    return x

BMS['Item_Type'] = BMS['Item_Type'].apply(lambda x: food(x))

In [26]:
X = BMS

In [27]:
X = X.drop(['Outlet_Identifier', 'Item_Identifier'], axis = 1)

In [28]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   int64
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   int64
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   float64
 6   Outlet_Size                8523 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(5), int64(2), object(3)
memory usage: 666.0+ KB

In [29]:
def size(x):
    if(x == 'Medium'):
        x = 1
    elif(x == 'High'):
        x = 2
    else:
        x = 3
    return x

X['Outlet_Size'] = X['Outlet_Size'].apply(lambda x: size(x))

In [30]:
def Type(x):
    if(x == 'Tier 1'):
        x = 1
    elif(x == 'Tier 2'):
        x = 2
    else:
        x = 3
    return x

X['Outlet_Location_Type'] = X['Outlet_Location_Type'].apply(lambda x: Type(x))

In [31]:
def supermarket(x):
    if(x == 'Supermarket Type1'):
        x = 1
    elif(x == 'Supermarket Type2'):
        x = 2
    elif(x == 'Supermarket Type3'):
        x = 3
    else:
        x = 4
    return x

X['Outlet_Type'] = X['Outlet_Type'].apply(lambda x: supermarket(x))

In [32]:
X['Outlet_Type'].head(10)

0    1
1    2
2    1
3    4
4    1
5    2
6    1
7    3
8    1
9    1
Name: Outlet_Type, dtype: int64

In [33]:
def outliers(data, column):
    mean_ = data[column].mean()
    S_dev_ = data[column].std()
    Upper_limit = mean_ + (3*S_dev_)
    Lower_limit = mean_ - (3*S_dev_)
    out = data[(data[column]>Upper_limit)|(data[column]<Lower_limit)].index
    
    data.drop(out, inplace = True)
    data.reset_index(drop = True)
    print(out)
    
outliers(X, 'Item_Outlet_Sales')

Int64Index([ 130,  145,  276,  304,  333,  373,  456,  472,  661,  694,  753,
             809,  935,  991,  997, 1009, 1138, 1254, 1450, 1506, 1859, 1998,
            2109, 2216, 2238, 2293, 2516, 2535, 2776, 3083, 3087, 3098, 3154,
            3234, 3286, 3407, 3667, 3709, 3720, 3757, 4289, 4346, 4349, 4676,
            4681, 4772, 4888, 4961, 4991, 5065, 5177, 5185, 5223, 5315, 5500,
            5550, 5619, 5752, 5799, 5812, 5977, 6000, 6134, 6334, 6409, 6537,
            6541, 6606, 6886, 6993, 7016, 7076, 7188, 7191, 7236, 7256, 7302,
            7343, 7560, 7562, 7609, 7690, 7752, 7816, 7826, 7930, 8039, 8201,
            8245, 8447],
           dtype='int64')

In [34]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8433 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8433 non-null   float64
 1   Item_Fat_Content           8433 non-null   int64
 2   Item_Visibility            8433 non-null   float64
 3   Item_Type                  8433 non-null   int64
 4   Item_MRP                   8433 non-null   float64
 5   Outlet_Establishment_Year  8433 non-null   float64
 6   Outlet_Size                8433 non-null   int64
 7   Outlet_Location_Type       8433 non-null   int64
 8   Outlet_Type                8433 non-null   int64
 9   Item_Outlet_Sales          8433 non-null   float64
dtypes: float64(5), int64(5)
memory usage: 724.7 KB

In [35]:
all_features = X[['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']].values
all_labels = X['Item_Outlet_Sales'].values

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(all_features, all_labels, test_size = 0.2, random_state = 1)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
print(predictions)

score = -cross_val_score(model, all_features, all_labels, cv = 10, scoring = 'neg_mean_squared_error').mean()
final = np.sqrt(score)
print(final)

print(np.sqrt(mean_squared_error(y_test, predictions)))
print(np.sqrt(mean_absolute_error(y_test, predictions)))

for i in range(50):
    print(y_test[i], predictions[i])

[-502.44936523  967.33214985 2501.05342407 ... 2302.34993255 1689.94023717
 2443.74947564]
1165.6005310642963
1171.7149951441581
29.976649197466358
194.4136 -502.4493652280712
1158.492 967.3321498494847
2797.6916 2501.0534240731718
2380.9008 2728.3515901554088
4649.9472 3125.3689733756128
1904.1879999999999 2813.7331410680977
5690.5926 2609.1258155935416
4138.6128 1851.183723873642
1312.9576 481.27416241290484
191.7504 -395.353903840994
4008.116 2913.6937003699686
5283.1230000000005 3726.2493232246893
2324.9736 4046.476861363072
801.6232 904.6510167059337
1697.79 1512.3520803936833
585.904 1583.8090564118654
3630.6074 3278.105001966621
667.1316 1567.4529003463208
552.614 864.1279863730867
820.2656 1596.372595260436
4943.565 3077.761537985711
770.3306 1076.055817449925
1464.76 2040.2640126774047
4848.3556 3073.6318173835457
1366.2216 2519.2843474305
3056.022 3050.2622230489533
5195.2374 3328.58430268102
6006.1818 3725.193510019442
4963.539000000001 2423.7168503598305
4789.7652 3132.582865948884
3968.1679999999997 3105.7375244937784
1549.9824 2349.901851520763
369.519 653.7430147000623
1362.2268 1049.8715571388566
2187.153 2133.27037493816
4364.319 2629.3255939315536
5438.9202 4063.8016114745515
1133.1916 811.4799742608388
3169.208 4236.524943825229
1868.2348 1183.2478503774423
4961.5416 2510.8444305579515
2239.7512 1958.612812802511
1166.4816 2162.3306340016034
2922.1962 2920.0498955164767
488.6972 2229.775195951809
1528.011 1722.5246821261387
1619.2256 1872.2703802611104
1061.951 297.33778393893317
3078.6592 3182.9412084657615
782.9808 586.0296874515088

In [38]:
import statsmodels.api as sm

model = sm.OLS(y_train, X_train).fit()
predict = model.predict(X_test)
print(predict)

[  20.02192147  739.34758765 1952.67205815 ... 2577.14396749 1141.37969951
 2473.90106692]

In [39]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

model = SVR(kernel = 'linear')
model.fit(X_train, y_train)
prediction = model.predict(X_test)
print(prediction)

score = -cross_val_score(model, all_features, all_labels, cv = 10, scoring = 'neg_mean_squared_error').mean()
final = np.sqrt(score)
print(final)

print(np.sqrt(mean_squared_error(y_test, prediction)))
print(np.sqrt(mean_absolute_error(y_test, prediction)))
for i in range(50):
    print(y_test[i], prediction[i])

[ 206.41684679 1529.44460999 2314.10845405 ... 1887.21326257 2016.01544009
 1877.25301564]
1408.8831170639412
1426.5291872541113
31.97396660461293
194.4136 206.4168467922559
1158.492 1529.444609985084
2797.6916 2314.108454049516
2380.9008 1908.8111465198442
4649.9472 1844.7478715156542
1904.1879999999999 1944.2316304010492
5690.5926 1934.2346815785586
4138.6128 1528.067524007264
1312.9576 1476.1552401984648
191.7504 152.42269935799732
4008.116 2275.096890816589
5283.1230000000005 1939.6127165426276
2324.9736 2373.5092087354437
801.6232 1554.9236356216425
1697.79 1677.001869864593
585.904 2124.18758787553
3630.6074 2466.3209735649198
667.1316 1683.5975891877847
552.614 1542.2046550813811
820.2656 1705.1801631668452
4943.565 2136.544464266583
770.3306 1697.1297828059544
1464.76 1746.6622832328308
4848.3556 1984.1764765153257
1366.2216 2193.9754219877705
3056.022 1801.5227934900558
5195.2374 2487.2893483932976
6006.1818 2465.572344619254
4963.539000000001 1658.4434247064194
4789.7652 2074.733765344488
3968.1679999999997 2161.144613914955
1549.9824 2262.909430881385
369.519 465.6267887622621
1362.2268 1338.9834433017593
2187.153 1806.8745941917014
4364.319 1935.3829037650617
5438.9202 2395.864218503649
1133.1916 1523.3621023899411
3169.208 2587.3487884335
1868.2348 1625.336970442062
4961.5416 1905.758478389792
2239.7512 2084.579631750903
1166.4816 2252.8987007352725
2922.1962 2399.412974901509
488.6972 795.4237197751886
1528.011 1758.3449094188677
1619.2256 2165.524205554783
1061.951 1424.0574694854072
3078.6592 1826.940711434148
782.9808 1477.6607405709296

In [40]:
import sklearn
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'v_measure_score']

In [41]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

XR = XGBRegressor()
XR.fit(X_train, y_train)

XR_Pred = XR.predict(X_test)
print(XR_Pred)

print(np.sqrt(mean_absolute_error(y_test, XR_Pred)))

for i in range(50):
    print(y_test[i], XR_Pred[i])

[ 117.29126 1266.1818  2559.4668  ... 2518.3171   813.6399  2442.0808 ]
27.745317223774553
194.4136 117.29126
1158.492 1266.1818
2797.6916 2559.4668
2380.9008 2987.9666
4649.9472 5291.011
1904.1879999999999 2849.0461
5690.5926 2761.5808
4138.6128 3327.6523
1312.9576 448.60434
191.7504 108.419556
4008.116 2780.4004
5283.1230000000005 5693.9233
2324.9736 3179.325
801.6232 871.88153
1697.79 1964.8923
585.904 996.2413
3630.6074 3580.0425
667.1316 1990.0917
552.614 1030.6132
820.2656 1748.4899
4943.565 3397.9324
770.3306 975.2332
1464.76 2275.0442
4848.3556 3540.9065
1366.2216 1938.7654
3056.022 4413.1636
5195.2374 3126.9006
6006.1818 3357.1396
4963.539000000001 3248.7153
4789.7652 2163.5498
3968.1679999999997 2378.23
1549.9824 1711.0824
369.519 -46.217346
1362.2268 663.38904
2187.153 2145.0483
4364.319 3617.93
5438.9202 3573.5776
1133.1916 756.5748
3169.208 3932.0542
1868.2348 1057.1493
4961.5416 2177.6165
2239.7512 1229.9524
1166.4816 2146.907
2922.1962 1738.659
488.6972 993.0203
1528.011 1853.8658
1619.2256 1164.7126
1061.951 399.87097
3078.6592 4972.972
782.9808 577.992

In [42]:
X.head(10)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0.282525,1,0.048866,1,0.927507,0.583333,1,1,1,3735.1380
1,0.081274,0,0.058705,2,0.072068,1.000000,1,3,2,443.4228
2,0.770765,1,0.051037,3,0.468288,0.583333,1,1,1,2097.2700
3,0.871986,0,0.000000,7,0.640093,0.541667,3,3,4,732.3800
4,0.260494,1,0.000000,4,0.095805,0.083333,2,3,1,994.7052
5,0.347723,0,0.000000,5,0.085361,1.000000,1,3,2,556.6088
6,0.541530,0,0.038799,6,0.111923,0.083333,2,3,1,343.5528
7,0.502107,1,0.388165,6,0.324587,0.000000,1,3,3,4022.7636
8,0.693361,0,0.050815,10,0.278791,0.708333,3,2,1,1076.5986
9,0.871986,0,0.287613,10,0.664399,0.916667,3,2,1,4710.5350